.p {
  color: red;
  font-family: "Borel", cursive;
  font-size: 22px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 400px;
  height: 100px;
  background-color: red;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1 {
  color: black;
}

/* .cards{
  display: flex;
  justify-content: center;
} */