.navbar a {
    text-transform: capitalize;
    color: red;
}


.navbar a:hover{
    color: rgb(0, 42, 255);
    font-size: 17px;
}
.menu_active{
    font-weight: bold;
    border-bottom:  10px solid black;
}